<% provide(:title, 'Edit Profile') %>
<h1>Edit Your Profile</h1>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">

              <% if teacher_user?(resource) %>
                <%= f.label :school_id %>
                <%= if current_user.school_id then @school_name = School.find(current_user.school_id).school_name else "" end %>
                <%= f.text_area :school_id, class: 'form-control', content: @school_name %>

                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag 'Find My School', :name => nil %>
                
                <%= f.label :grades %>
                <%= f.text_field :grades, class: 'form-control' %>
              <% end %>
              <% if speaker_user?(resource) %>
                <%= f.label :job_title %>
                <%= f.text_field :job_title, class: 'form-control' %>
                <%= f.label :business %>
                <%= f.text_field :business, class: 'form-control' %>
                <div class="field">
                  <%= f.label :tag_list, 'Tags (separated by commas)' %><br />
                  <%= f.text_field :tag_list %>
                </div>
              <% end %>
              <%= f.label :biography %>
              <%= f.text_area :biography, class: 'form-control' %>
              <% unless resource.role == 'Admin' %>
                  <div class="form-group">
                    <%= f.label :role %>
                    <%= f.select :role, ['Speaker', 'Teacher', 'Both'], {}, {:selected => @user.role, class: 'btn btn-default dropdown-toggle'} %>
                  </div>
              <% end %>

            <%= f.fields_for :location, current_user.location, { :method => :get } do |address_fields| %>
                  <%= address_fields.label :address %>
                  <%= address_fields.text_field :address, class: 'form-control' %>
              <% end %>
            </div>     
        <% end %>
      </div>
    </div>
</div>