
<% provide(:title, 'Management Console') %>
<%if @data.present? %>
	<% if params[:fdate] != "" %>
		<% startDate =  params[:fdate].gsub(/\s+/m, ' ').strip.split(" ")%>
	 	<% min = startDate[1].split(/\s|\:/)%>
	 <% end %>
	 <% if params[:tdate] != "" %>
	 	<% endDate = params[:tdate].gsub(/\s+/m, ' ').strip.split(" ") %>
	 	<% endMin = endDate[1].split(/\s|\:/)%>
	<% end %>
	
<% end %>
<%= form_tag '/admin', :method => :get do %>
 <label>From date</label>
  <input type ="date" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" 
  name ="fdate" 
  <%if startDate.present? && startDate[0]!=""%>
  value="<%=startDate[0]%>"  
  <% end %>
  id = "fdate">
  <label >To date</label>
 <input type ="date" pattern="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d" 
  name ="tdate"
  <%if endDate.present? && endDate[0]!=""%>
   
  
  value="<%=endDate[0]%>"
  <% end %>
   id = "tdate ">
<%= submit_tag "Summary View" %>
<%= submit_tag "Detailed View" %>
<% if @data.present?%>
	<%= link_to 'Download CSV', controller: "admin", format: :csv, fdate: params[:fdate], tdate: params[:tdate],commit: params[:commit] %>
<% end %>

<% end %>
<% if @data.present?%>
	<%if params[:fdate] != ""  %>
		From Date: <%=startDate[0]%> <%=min[0]%>:<%=min[1]%>
	<%end%>
	<% if  params[:tdate] != ""%>
		To Date: <%=endDate[0]%> <%=endMin[0]%>:<%=endMin[1]%>
	<%end%>
<%end%>
<table>
	 <% if @data.present?%>
	 
			
		 <%count = 0%>
		 <% if params[:commit] == "Detailed View"%>
			 <tr>	
			 	<th>Start Date</th>
			    <th>End Date</th>	 	
			 	<th>Schools Name</th>
			   	<th >Event Title</th>
			   	<th>Events Content</th>			    
			    <th>Speaker</th>
			    <th>Badge Awarded?</th>
			 </tr>
 
 		<% else if params[:commit] == "Summary View"%>
 		
 			<tr>		 	
			 	<th>Schools Name</th>
			   	<th>Events Created</th>
			   	<th>Events Claimed</th>
			    <th>No of Awarded Badges</th>
			 </tr>
		<% end %>
		<% end %>
 	

 <% @data.each do |dataList| %>

   <tr>
   	  	<% dataList.each do |cell| %>
   		<td width="200px"><%= cell %></td>
    	<% end %>
   </tr>
    <%count += 1 %>
 <% end %>
 <% end %>
 <% if params[:commit] == "Detailed View"%>
 <tr><th>Total Records <%=count%></th></tr>
 <%end%>
</table>

