<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h3 align="center">
        <%= @user.name %>
      </h3>
      <% @user_fields = { 'Email' => @user.email,
                          'Role'  => @user.role,
                          'Biography' => @user.biography } %>
      <% if @user.school_id.present? then @teacher_fields = {'School' => School.find(@user.school_id).school_name,
                            'Grades' => @user.grades }  end %>
      <% @business_fields = {'Job Title' => @user.job_title,
                             'Business' => @user.business } %>
                             
      <% if @user.role == "Speaker" then @user_fields = @user_fields.merge @business_fields end %>
      <% if @user.role == "Teacher" then @user_fields = @user_fields.merge @teacher_fields end %>
      <% if @user.role == "Both" then @user_fields = (@user_fields.merge @business_fields).merge @teacher_fields end %>
      
      <% @user_fields.each do |key, value| %>
        <h4>
          <strong><%= key %>: </strong> <%= value %>
        </h4>
      <% end %>

      <h4>
        <strong> Email: </strong> <%= @user.email %>
      </h4>
      <h4>
        <strong> Role: </strong> <%= @user.role %>
      </h4>
      <h4>
        <strong> Biography: </strong> <%= @user.biography %>
      </h4>
      <%  if @user.school_id.present? %>
          <h4>
            <strong> School: </strong> <%= School.find(@user.school_id).school_name %>
          </h4>
      <% end %>
      <h4>
        <strong> Grades: </strong> <%= @user.grades %>
      </h4>
      <h4>
        <strong>Job Title: </strong> <%= @user.job_title %>
      </h4>
      <h4>
        <strong> Business: </strong> <%= @user.business %>
      </h4>
      <% #unless @user.location.nil? %>
          <h4>
            <strong> Address: </strong> <%= @user.location.address %>
          </h4>
      <% end %>
      <h4>
        <strong> Tags: </strong> <%= @user.tag_list %>
      </h4>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.events.any? %>
        <h3>Events (<%= @user.events.count %>)</h3>
        <ol class="events">
          <%= render @events %>
        </ol>
        <%= will_paginate @events %>
    <% end %>
  </div>
</div>