<%= form_for @event do |f| %>

    <div class="field">
      <%= f.label :title, 'Title' %><br />
      <%= f.text_field :title, value: @event.title %>
    </div>
    <div class="field"> 
      <%= puts current_user.school_id %>
      <%= f.hidden_field :loc_id, :value => current_user.school_id %>
    </div>
    <div class="field">
      <%= f.text_area :content, value: @event.content, placeholder: 'Compose new event...' %>
    </div>

    <div class="field">
      <%= f.label :tag_list, 'Tags (separated by commas)' %><br />
      <%= f.text_field :tag_list, value: @event.tag_list %>
    </div>
    <% Time.zone = "Eastern Time (US & Canada)" %>
    <% if @event.event_start then start_value = @event.event_start else start_value = Time.zone.now end %>
    <% if @event.event_end then end_value = @event.event_end else start_value = Time.zone.now end %>
    <div class="form-group">
      <label>Start</label>
      <%= f.datetime_select :event_start, value: start_value %>
    </div>
    <div class="form-group">
      <label>End</label>
      <%= f.datetime_select :event_end, value: end_value %>
    </div>
    <%= f.submit 'Post', :data => {:disable_with => "Saving..."}, class: 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
    $('.datetimepicker').datetimepicker({
      inline: true,
      sideBySide: true
    });
</script>

