<table width="auto">
  <% if current_user == event.user and 
       event.speaker_id == 0 and
       event.claims.where(active: true) != [] %>
  <tr><!-- Create Header Row -->
    <td><div style="text-align: center; font-weight: bold">Claimant<div></td>
    <td> <div style="text-align: center; font-weight: bold">Job Title<div></td>
    <td> </td>
    <td></td>
  </tr>
<% end %>
<% event.claims.each do |claim| %>
  <tr><td>&nbsp</td></tr>
  <!-- Create claimant rows -->
  <tr style="margin-bottom: 10px">
    <% if current_user == event.user and 
         event.speaker_id == 0 and 
         !claim.confirmed_by_teacher and 
         claim.active %>
    <div style="width: auto; margin-right: 10px; margin-left: 10px">
      <td>
        <div style="text-align: center;">Make <%= claim.user.name %> the speaker? </div>
      </td>
      <td>
        <div style="text-align: center;"><%= if claim.user.job_title? then claim.user.job_title else "N/A" end %></div>
      </td>
      <td>
        <%= button_to "Accept",
                teacher_confirm_claim_path(claim, :event_id => claim.event.id),
                data: { confirm: 'Are you sure?' },
                class: 'btn btn-success btn-xs' %>
      </td>
      <td>
        <%= button_to "Reject",
              {action: "reject", controller: "claims", id: claim.id},
              data: { confirm: 'Are you sure?' },
              method: :delete,
              class: 'btn btn-danger btn-xs' %>
      </td>
    </div>
  <% end %>

  </div>
  </p>
  <!-- Provide cancellation button to claimer/speaker -->
  <% if current_user.id == claim.user_id and claim.active and event.start() > Time.now %>
    <!-- SET cancellation message & CREATE button depending on CLAIMER/SPEAKER -->
    <% if current_user.id == event.speaker_id %>
     <% cancellation = 'Cancel Speaking Engagement' %>
    <% elsif current_user.id == claim.user_id %>
      <% cancellation = 'Cancel Claim' %>
    <% end %>
    <p>
    <%= button_to cancellation,
            {action: "cancel", controller: "claims", id: claim.id},
            method: :delete,
            data: { confirm: 'Are you sure?' },
            class: 'btn btn-danger' %>
    </p>

  <% end %><!-- End cancellation -->
  </tr>
<% end %><!-- End loop -->
</table>
