<li id="<%= event.id %>">
<div class="row">
<!--
<aside class="col-xs-2 col-sm-2">
   #image_tag ENV["S3_BUCKET"]+"badges/"+ Badge.find(School.find(event.loc_id).badge_id).file_name,
       # class: "img-responsive center-block", width: '80', style: "margin-top:15px;" %>
      </aside> -->
  <div class="col-xs-10 col-sm-10">
    <h3>
      <% if event.is_canceled %>
        <del><%= link_to event.title, event %></del> (Canceled)
      <% else %>
        <%= link_to event.title, event %>
      <% end %>
    </h3>
  <p>Posted <%= time_ago_in_words(event.created_at) %> ago.</p>

</div>

<!-- Provide Badge Image -->
<div class="col-xs-6 col-md-6">
  <p class="text-small">
    <strong>Location: </strong>
    <%= link_to handle_abbr(School.find(event.loc_id).school_name.titlecase), "/schools/#{event.loc_id}" %>
  </p>
  <p>
    <strong>Time:</strong> <%= event.present_time()  %>
  </p>
</div>
  <div class="col-xs-6 col-md-6">

    <!-- If the event has a speaker, display their name -->
  <p>
    <% if event.speaker_id > 0 %>
      <strong>Speaker: </strong>
      <%= User.find(event.speaker_id).name %>
    <!-- If the event has claims, then display the claims -->
    <% else %>
      <% unless event.claims.each.nil? %>
        <strong>Claims: </strong>
        <%= raw event.claims.where(active:true).each.map(&:user).map {|u| link_to u.name, user_path(u)  }.join(', ') %>
      <% end %>
    <% end %>
  </p>
  <p><strong>Organizer: </strong>
    <%= link_to event.user.name, event.user %></p>
  </div>
  <div class="col-xs-12 col-md-12">
  <p><strong>Tags: </strong>
    <%= raw event.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></p>

  </div> <!-- column -->

  <p>
  <% if (not event.is_canceled) && (event.start() > Time.now) &&
        (event.claims.where('confirmed_by_teacher = ?', true).count < 1) &&
        (event.claims.where('user_id = ?', current_user.id).count < 1) &&
        (event.user != current_user) %>
        <%= button_to 'Claim This Event',
              claim_event_path(:event_id => event.id, :user_id => current_user.id),
              data: { confirm: 'Are you sure?' },
              class: 'btn btn-primary' %>
    <% end %>
  </p>

  <!-- Section: This is where actions that may be taken by the user are located -->
  <p>
  <% if (not event.is_canceled) and event.start() > Time.now %>
    <%= render partial: "events/claim", locals: {event: event} %>
  <% end %><!-- End if for event cancellation -->
  </p>

  <!-- If you are the owner of the event -->
  <a>
  <% if current_user == event.user and (not event.is_canceled) %>
    <% if event.event_end < Time.now and event.speaker_id > 0 and not event.complete %>
      <% speaker = User.find(event.speaker_id) %>
      <%= button_to "Award Badge to #{speaker.name}",
            {action: "award_badge", controller: "users", event_id: event.id, award: true},
            data: { confirm: 'Are you sure?' },
            method: :post,
            class: 'btn-primary' %>
      <% end %>
    <% if event.event_start > Time.now %>
      <%= button_to 'Edit the Event',
            {action: "edit", controller: "events", id:event.id},
            method: :get,
            class: "btn-primary" %>
      <%= button_to 'Cancel The Event',
            {action: "cancel", controller: "events", id: event.id},
            data: { confirm: 'Are you sure?' },
            method: :delete,
            class: 'btn btn-danger btn-xs' %>
    <% end %>
  <% elsif current_user != event.user %>
    <%= button_to 'Message The Organizer',
          {action: "write_message", controller: "users", id: event.user_id},
          method: :get,
          class:"btn-primary" %>
  <% end %>
  </a>

</div> <!-- row -->
</li>
