<ul class="nav nav-tabs" role="tablist">
	<li class="active"><%= link_to "All", root_path(:tab => "tab_all") %></li>
	<li ><%= link_to "Approvals", root_path(:tab => "tab_approvals") %></li>
	<li ><%= link_to "Claims", root_path(:tab => "tab_claims") %></li>
	<li ><%= link_to "Confirmed", root_path(:tab => "tab_confirmed") %></li>
</ul>
<% if @events = get_all() %>
    <ol class="events">
      <%= render @events %>
    </ol>
<% end %>