<% provide(:title, 'Events') %>
<p id="notice"><%= notice %></p>

<h1>Events</h1>



<div id="tag_cloud">
  <% tag_cloud Event.tag_counts.most_used(100).shuffle, %w[xs s m l xl] do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<%= form_tag events_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag 'Search', :name => nil %>
    </p>
<% end %>

<% @events = get_events(params) %>

<%= will_paginate %>


<div id="events">
  <% @events.each do |event| %>
    <ol class="events">
    <%= render partial: "event", locals: {event: event} %>
    </ol>
  <% end %>
</div>

<%= will_paginate %>
