<% provide(:title, 'Find My School') %>
<p id="notice"><%= notice %></p>

<h1>Find My School</h1>

<%= form_tag schools_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', :name => nil %>
    <%= button_tag 'Near Me', :name => 'location', :action => 'near_me' %>
  </p>
<% end %>

<% @schools = get_schools(params) %>
<%= will_paginate %>



<ul class="schools">
  <%= render @schools %>
</ul>

<%= will_paginate %>
