<% provide(:title, 'Schools') %>
<p id="notice"><%= notice %></p>

<% if user_signed_in? && (!current_user.school_id || current_user.school_id > 1) %>
  <h1>Listing Schools</h1>
<% else %>
  <h1>Find Your School</h1>
<% end %>


<%= form_tag schools_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', :name => nil %>
    <%= button_tag 'Near Me', :name => 'location', :action => 'near_me' %>
  </p>
<% end %>

<% @schools = get_schools(params) %>

<%= will_paginate %>

<div id="schools">
  <ol class="schools">
    <%= render @schools %>
  </ol>
</div>
<%= will_paginate %>
