<%= provide(:title, handle_abbr(@school.school_name)) %>
<div class="row">
	<aside class="col-md-4">
		<section class="school_info">
			<h3 align="center">
				<%= handle_abbr(@school.school_name).upcase %>
			</h3>
<p id="notice"><%= notice %></p>

<div align="center">
<%= image_tag ENV["S3_BUCKET"]+"badges/"+Badge.find(@school.badge_id).file_name %>
</div>

<% @fields.each do |key, value| %>
	<% field=school_process(@school.instance_eval(key), key) %>
	<h4>
		<strong><%= value %>: </strong> <%= field %>
	</h4>
<% end %>

<div class="btn-group" style="text-align:center">
	<% if user_signed_in? && @school.id > 1 &&
		(current_user.role == 'Teacher' || current_user.role == 'Both') %>
	<%= button_to 'Make My School', 
					claim_school_path(user_id: current_user.id, school_id: @school.id), 
					method: :post, 
					data: {confirm: "Confirm: Make \"#{handle_abbr(@school.school_name)}\" your school?"},
					class: "btn btn-lg btn-primary" %>
	<% end %>
	<%= button_to "Back to Search", {controller: "schools", action: "index"},
	 				method: :get, 
					class: "btn btn-lg btn-primary" %>
</div>

 </aside>
  <div class="col-md-8">
	<% @events = get_events({loc_id: @school.id}) %>
  	<% puts @events %>
    <% if @events.any? %>
        <h3>Events (<%= @events.count %>)</h3>
        <ol class="events">
          <%= render @events %>
        </ol>
        <%= will_paginate @events %>
    <% end %>
  </div>
</div>
