<%= provide(:title, handle_abbr(@school.school_name)) %>
<div class="row">
	<aside class="col-md-4">
		<section class="school_info">
			<h3 align="center">
				<%= handle_abbr(@school.school_name).upcase %>
			</h3>
<p id="notice"><%= notice %></p>
<% @fields.each do |key, value| %>
	<% field=school_process(@school.instance_eval(key), key) %>
	<h4>
		<strong><%= value %>: </strong> <%= field %>
	</h4>
<% end %>

<ul class="options">
	<% if user_signed_in? && 
		(current_user == 'Teacher' || current_user.role == 'Both') %>
		<li><%= button_to 'Make My School', {:controller => "schools", :action => "make_mine", :user_id => current_user.id, :school_id => @school.id}, :method => :post %></il>
	<% end %>
	<li><%= link_to 'Back', schools_path %></il>
</ul>

 </aside>
  <div class="col-md-8">
  	<% get_events(@school.id) %>
    <% if @events.any? %>
        <h3>Events (<%= @events.count %>)</h3>
        <ol class="events">
          <%= render @events %>
        </ol>
        <%= will_paginate @events %>
    <% end %>
  </div>
</div>