<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
<nav>
  <div class="container-fluid">
    <%= link_to 'School Business', root_path, id: 'logo' %>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#header-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="header-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Help', help_path %></li>

        <% if user_signed_in? %>
          <% @loglinks = {'Users'              => users_path, 
                          'Events'             => events_path,
                          'Schools'            => schools_path} %>
          <!-- 'Search by Location' => locations_path,
                          'Claims'             => claims_path} 
                          %> -->
          <% @loglinks.each do |title, lpath| %>
            <li><%= link_to title, lpath %></li>
          <% end %>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= notif_count = Notification.where(user_id: current_user.id, read: false).count %>
              <b class="caret"></b>
            </a>

            <!-- TODO This could be improved -->
            <ul class="dropdown-menu pull-right">
              
              <% @notifications = Notification.where(user_id: current_user.id).last(10).reverse %>
              <% if @notifications.count > 0 %>
              <% @notifications.each do |x| %>
                <li><%= link_to x.content, "/notifications/"+x.id.to_s %></li>
                <li class="divider"></li>
              <% end %>
              <!-- TODO Create Notification display page -->
              <li><%= link_to "See All Notifications", "#" %></li>
              <% else %>
                <li><p>No Notifications</p></li>
              <% end %>
            </ul> 
          </li>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= gravatar_for(user,  20) %>
            <%= user.name %><b class="caret"></b>
          </a>

          <ul class="dropdown-menu">
            <li><%= link_to 'Profile', current_user %></li>
            <li><%= link_to 'Account', edit_user_registration_path %></li>
            <% if current_user.Admin? %>
              <li><%= link_to 'Admin', '/admin' %></li>
              <li><%= link_to 'Users', users_path %></li>
            <% end %>
            <li class="divider"></li>
            <li>
              <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
            </li>
          </ul>

        <% else %>
          <li><%= link_to 'Log in', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<% if controller_name == 'events' %>
<div class="container-fluid breadcrumb-wrapper">
  <ol class="breadcrumb" role="navigation">
    <li class="active label">Events</li>
    <li><a href="#">Search By Location</a></li>
    <li><a href="#">Claims</a></li>
    <!-- <li class="active">Data</li> -->
  </ol>
</div>
<% end %>
</header>
